<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zs.xinguanmaterialmanager.mapper.BizConsumerMapper">

    <resultMap type="com.zs.xinguanmaterialmanager.entity.BizConsumer" id="BizConsumerMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="address" column="address" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="modifiedTime" column="modified_time" jdbcType="TIMESTAMP"/>
        <result property="phone" column="phone" jdbcType="VARCHAR"/>
        <result property="sort" column="sort" jdbcType="INTEGER"/>
        <result property="contact" column="contact" jdbcType="VARCHAR"/>
    </resultMap>

    <!--       查询单个         -->
    <select id="findById" resultMap="BizConsumerMap">
        select id,
               name,
               address,
               create_time,
               modified_time,
               phone,
               sort,
               contact
        from biz_consumer
        where id = #{id}
    </select>

    <!--      新增所有列     -->
    <insert id="addConsumer" keyProperty="id" useGeneratedKeys="true">
        insert into biz_consumer(name, address, create_time, modified_time, phone, sort, contact)
        values (#{name}, #{address}, #{createTime}, #{modifiedTime}, #{phone}, #{sort}, #{contact})
    </insert>

    <insert id="insertBatch" keyProperty="id" useGeneratedKeys="true">
        insert into biz_consumer(name, address, create_time, modified_time, phone, sort, contact)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.name}, #{entity.address}, #{entity.createTime}, #{entity.modifiedTime}, #{entity.phone},
            #{entity.sort}, #{entity.contact})
        </foreach>
    </insert>

    <insert id="insertOrUpdateBatch" keyProperty="id" useGeneratedKeys="true">
        insert into biz_consumer(name, address, create_time, modified_time, phone, sort, contact)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.name}, #{entity.address}, #{entity.createTime}, #{entity.modifiedTime}, #{entity.phone},
            #{entity.sort}, #{entity.contact})
        </foreach>
        on duplicate key update
        name = values(name),
        address = values(address),
        create_time = values(create_time),
        modified_time = values(modified_time),
        phone = values(phone),
        sort = values(sort),
        contact = values(contact)
    </insert>

    <!--通过主键修改数据-->
    <update id="updateConsumer">
        update biz_consumer
        <set>
            <if test="name != null and name != ''">
                name = #{name},
            </if>
            <if test="address != null and address != ''">
                address = #{address},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
            <if test="modifiedTime != null">
                modified_time = #{modifiedTime},
            </if>
            <if test="phone != null and phone != ''">
                phone = #{phone},
            </if>
            <if test="sort != null">
                sort = #{sort},
            </if>
            <if test="contact != null and contact != ''">
                contact = #{contact},
            </if>
        </set>
        where id = #{id}
    </update>

    <!--通过主键删除-->
    <delete id="deleteConsumer">
        delete
        from biz_consumer
        where id = #{id}
    </delete>

    <!--查询所有-->
    <select id="findAllConsumer" resultMap="BizConsumerMap">
        select id,
               name,
               address,
               create_time,
               modified_time,
               phone,
               sort,
               contact
        from biz_consumer
    </select>
    <!-- 根据条件模糊查询-->
    <select id="findConsumerList" resultMap="BizConsumerMap">
        select id,
        name,
        address,
        create_time,
        modified_time,
        phone,
        sort,
        contact
        from biz_consumer
        <where>

            <if test="address != null">
                and address like '%' #{address} '%'
            </if>
            <if test="contact!=null">
                and contact like '%' #{contact} '%'
            </if>
            <if test="name!=null">
                and name like '%' #{name} '%'
            </if>

        </where>
    </select>
</mapper>

