<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zs.xinguanmaterialmanager.mapper.BizProductMapper">
    <!--fan-->
    <resultMap type="com.zs.xinguanmaterialmanager.entity.BizProduct" id="BizProductMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="pNum" column="p_num" jdbcType="VARCHAR"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="imageUrl" column="image_url" jdbcType="VARCHAR"/>
        <result property="model" column="model" jdbcType="VARCHAR"/>
        <result property="unit" column="unit" jdbcType="VARCHAR"/>
        <result property="remark" column="remark" jdbcType="VARCHAR"/>
        <result property="sort" column="sort" jdbcType="INTEGER"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="modifiedTime" column="modified_time" jdbcType="TIMESTAMP"/>
        <result property="oneCategoryId" column="one_category_id" jdbcType="INTEGER"/>
        <result property="twoCategoryId" column="two_category_id" jdbcType="INTEGER"/>
        <result property="threeCategoryId" column="three_category_id" jdbcType="INTEGER"/>
        <result property="status" column="status" jdbcType="INTEGER"/>
    </resultMap>

    <!--查询单个-->
    <select id="queryById" parameterType="long" resultMap="BizProductMap">
        select id,
               p_num,
               name,
               image_url,
               model,
               unit,
               remark,
               sort,
               create_time,
               modified_time,
               one_category_id,
               two_category_id,
               three_category_id,
               status
        from biz_product
        where id= #{id}
    </select>

    <!--   查询单个  -->
    <select id="editProuductById" parameterType="long" resultMap="BizProductMap">
        select id,
               p_num,
               name,
               image_url,
               model,
               unit,
               remark,
               sort,
               create_time,
               modified_time,
               one_category_id,
               two_category_id,
               three_category_id,
               status
        from biz_product
        where id = #{id}
    </select>

    <!--通过pNum查询单个-->
    <select id="queryBypNum" parameterType="string" resultMap="BizProductMap">
        select id,
               p_num,
               name,
               image_url,
               model,
               unit,
               remark,
               sort,
               create_time,
               modified_time,
               one_category_id,
               two_category_id,
               three_category_id,
               status
        from biz_product
        where p_num = #{pNum}
    </select>

    <!--    查询全部 findAllStocks   -->
    <select id="findAllStocks" resultMap="BizProductMap">
        SELECT s.p_num,
               s.stock,
               p.name,
               p.id,
               p.model,
               p.unit,
               p.image_url
        FROM biz_product_stock s
           , biz_product p
        WHERE s.`p_num` = p.`p_num`
          and s.`stock` > 0

    </select>


    <!--新增所有列-->
    <insert id="insert" keyProperty="" useGeneratedKeys="true">
        insert into biz_product(id, p_num, name, image_url, model, unit, remark, sort, create_time, modified_time,
                                one_category_id, two_category_id, three_category_id, status)
        values (#{id}, #{pNum}, #{name}, #{imageUrl}, #{model}, #{unit}, #{remark}, #{sort}, #{createTime},
                #{modifiedTime}, #{oneCategoryId}, #{twoCategoryId}, #{threeCategoryId}, #{status})
    </insert>

    <!--  新增所有列   -->
    <insert id="addProuduct" keyProperty="" useGeneratedKeys="true">
        insert into biz_product(id, p_num, name, image_url, model, unit, remark, sort, create_time, modified_time,
                                one_category_id, two_category_id, three_category_id, status)
        values (#{id}, #{pNum}, #{name}, #{imageUrl}, #{model}, #{unit}, #{remark}, #{sort}, #{createTime},
                #{modifiedTime}, #{oneCategoryId}, #{twoCategoryId}, #{threeCategoryId}, 2)
    </insert>

    <insert id="insertBatch" keyProperty="" useGeneratedKeys="true">
        insert into biz_product(id, p_num, name, image_url, model, unit, remark, sort, create_time, modified_time,
        one_category_id, two_category_id, three_category_id, status)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.id}, #{entity.pNum}, #{entity.name}, #{entity.imageUrl}, #{entity.model}, #{entity.unit},
            #{entity.remark}, #{entity.sort}, #{entity.createTime}, #{entity.modifiedTime}, #{entity.oneCategoryId},
            #{entity.twoCategoryId}, #{entity.threeCategoryId}, #{entity.status})
        </foreach>
    </insert>

    <insert id="insertOrUpdateBatch" keyProperty="" useGeneratedKeys="true">
        insert into biz_product(id, p_num, name, image_url, model, unit, remark, sort, create_time, modified_time,
        one_category_id, two_category_id, three_category_id, status)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.id}, #{entity.pNum}, #{entity.name}, #{entity.imageUrl}, #{entity.model}, #{entity.unit},
            #{entity.remark}, #{entity.sort}, #{entity.createTime}, #{entity.modifiedTime}, #{entity.oneCategoryId},
            #{entity.twoCategoryId}, #{entity.threeCategoryId}, #{entity.status})
        </foreach>
        on duplicate key update
        id = values(id),
        p_num = values(p_num),
        name = values(name),
        image_url = values(image_url),
        model = values(model),
        unit = values(unit),
        remark = values(remark),
        sort = values(sort),
        create_time = values(create_time),
        modified_time = values(modified_time),
        one_category_id = values(one_category_id),
        two_category_id = values(two_category_id),
        three_category_id = values(three_category_id),
        status = values(status)
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update biz_product
        <set>
            <if test="id != null">
                id = #{id},
            </if>
            <if test="pNum != null and pNum != ''">
                p_num = #{pNum},
            </if>
            <if test="name != null and name != ''">
                name = #{name},
            </if>
            <if test="imageUrl != null and imageUrl != ''">
                image_url = #{imageUrl},
            </if>
            <if test="model != null and model != ''">
                model = #{model},
            </if>
            <if test="unit != null and unit != ''">
                unit = #{unit},
            </if>
            <if test="remark != null and remark != ''">
                remark = #{remark},
            </if>
            <if test="sort != null">
                sort = #{sort},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
            <if test="modifiedTime != null">
                modified_time = #{modifiedTime},
            </if>
            <if test="oneCategoryId != null">
                one_category_id = #{oneCategoryId},
            </if>
            <if test="twoCategoryId != null">
                two_category_id = #{twoCategoryId},
            </if>
            <if test="threeCategoryId != null">
                three_category_id = #{threeCategoryId},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
        </set>
        where = #{}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById" parameterType="long">
        delete
        from biz_product
        where id= #{id}
    </delete>
    <!--   通过主键更新物资数据    -->
    <update id="updateProducts">
        update biz_product
        <set>
            <if test="id != null">
                id = #{id},
            </if>
            <if test="pNum != null and pNum != ''">
                p_num = #{pNum},
            </if>
            <if test="name != null and name != ''">
                name = #{name},
            </if>
            <if test="imageUrl != null and imageUrl != ''">
                image_url = #{imageUrl},
            </if>
            <if test="model != null and model != ''">
                model = #{model},
            </if>
            <if test="unit != null and unit != ''">
                unit = #{unit},
            </if>
            <if test="remark != null and remark != ''">
                remark = #{remark},
            </if>
            <if test="sort != null">
                sort = #{sort},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
            <if test="modifiedTime != null">
                modified_time = #{modifiedTime},
            </if>
            <if test="oneCategoryId != null">
                one_category_id = #{oneCategoryId},
            </if>
            <if test="twoCategoryId != null">
                two_category_id = #{twoCategoryId},
            </if>
            <if test="threeCategoryId != null">
                three_category_id = #{threeCategoryId},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
        </set>
        where id= #{id}
    </update>

    <!--    通过主键删除   -->
    <delete id="deleteProuductById" parameterType="long">
        delete
        from biz_product
        where id = #{id}
    </delete>

    <delete id="deleteInStock">

    </delete>
    <!--fan-->

    <!--    从回收站回复物资   -->
    <update id="backProuduct">
        update biz_product
        set status = 0
        where id = #{id}
    </update>

    <!--   物资列表,根据物资名模糊查询   -->
    <select id="findProductList" resultMap="BizProductMap">
        select id,
        p_num,
        name,
        image_url,
        model,
        unit,
        remark,
        sort,
        create_time,
        modified_time,
        one_category_id,
        two_category_id,
        three_category_id,
        status
        from biz_product
        <where>
            <if test="oneCategoryId !=null ">
                and one_category_id=#{oneCategoryId}
            </if>
            <if test="twoCategoryId !=null ">
                and two_category_id=#{twoCategoryId}
            </if>
            <if test="threeCategoryId !=null ">
                and three_category_id=#{threeCategoryId}
            </if>
            <if test="name !=null ">
                and name like '%' #{name} '%'
            </if>
            <if test="status !=null ">
                and status=#{status}
            </if>
        </where>
    </select>

    <!--  模糊查询库存物资   -->
    <select id="findProductStocks" resultMap="BizProductMap">
        SELECT s.p_num,
        s.stock,
        p.name,
        p.id,
        p.model,
        p.unit,
        p.image_url
        FROM biz_product_stock s
        , biz_product p
        <where>
            s.`p_num` = p.`p_num`
            and s.`stock` > 0
            <if test="oneCategoryId !=null ">
                and one_category_id=#{oneCategoryId}
            </if>
            <if test="twoCategoryId !=null ">
                and two_category_id=#{twoCategoryId}
            </if>
            <if test="threeCategoryId !=null ">
                and three_category_id=#{threeCategoryId}
            </if>
            <if test="name !=null ">
                and name like '%' #{name} '%'
            </if>
            <if test="status !=null ">
                and status=#{status}
            </if>
        </where>
    </select>
    <!--   查询可入库物资列表（所有物资）  -->
    <select id="findProducts" resultMap="BizProductMap">
        select id,
        p_num,
        name,
        image_url,
        model,
        unit,
        remark,
        sort,
        create_time,
        modified_time,
        one_category_id,
        two_category_id,
        three_category_id,
        status
        from biz_product
        <where>
            <if test="oneCategoryId !=null ">
                and one_category_id=#{oneCategoryId}
            </if>
            <if test="twoCategoryId !=null ">
                and two_category_id=#{twoCategoryId}
            </if>
            <if test="threeCategoryId !=null ">
                and three_category_id=#{threeCategoryId}
            </if>
            <if test="name !=null ">
                and name like '%' #{name} '%'
            </if>
            <if test="status !=null ">
                and status=#{status}
            </if>
        </where>
    </select>

    <!--    审核物资  -->
    <update id="auditProducts">
        update biz_product
        set status = 0
        where id = #{id}
    </update>

    <!--   物资移入回收站    -->
    <update id="removeProducts">
        update biz_product
        set status = 1
        where id = #{id}
    </update>

    <!--     发放单明细查询    -->
    <select id="detailOutStock" resultMap="BizProductMap">
        select p.id,
        p.name,
        p.p_num,
        p.image_url,
        p.model,
        p.unit,
        osi.product_number count
        from biz_out_stock_info osi,
        biz_product p
        <where>
            osi.out_num = #{outNum}
            and osi.p_num = p.p_num
        </where>
    </select>
</mapper>

