<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zs.xinguanmaterialmanager.mapper.BizSupplierMapper">

<!--fan-->
    <!--查询单个-->
    <select id="queryById" resultType="com.zs.xinguanmaterialmanager.entity.BizSupplier" parameterType="long">
               name,
               address,
               email,
               phone,
               create_time,
               modified_time,
               sort,
               contact
        from biz_supplier
        where id = #{id}
    </select>


<!--    所有来源-->
    <select id="findAll" resultType="com.zs.xinguanmaterialmanager.entity.BizSupplier">
        select id,
               name,
               address,
               email,
               phone,
               create_time,
               modified_time,
               sort,
               contact
        from biz_supplier
    </select>

<!--    模糊查询来源-->
    <select id="findSupplierList" resultType="com.zs.xinguanmaterialmanager.entity.BizSupplier" parameterType="com.zs.xinguanmaterialmanager.entity.BizSupplier">
        select id,
               name,
               address,
               email,
               phone,
               create_time,
               modified_time,
               sort,
               contact
        from biz_supplier
        <where>
            <if test="name !=null and name != '' " >
                name like "%"#{name}"%"
            </if>
            <if test="address !=null and address != '' " >
               and address like "%"#{address}"%"
            </if>
            <if test="phone !=null and phone != '' " >
               and phone like "%"#{phone}"%"
            </if>
        </where>
</select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        insert into biz_supplier(name, address, email, phone, create_time, modified_time, sort, contact)
        values (#{name}, #{address}, #{email}, #{phone}, #{createTime}, #{modifiedTime}, #{sort}, #{contact})
    </insert>

    <insert id="insertBatch" keyProperty="id" useGeneratedKeys="true">
        insert into biz_supplier(name, address, email, phone, create_time, modified_time, sort, contact)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.name}, #{entity.address}, #{entity.email}, #{entity.phone}, #{entity.createTime},
            #{entity.modifiedTime}, #{entity.sort}, #{entity.contact})
        </foreach>
    </insert>

    <insert id="insertOrUpdateBatch" keyProperty="id" useGeneratedKeys="true">
        insert into biz_supplier(name, address, email, phone, create_time, modified_time, sort, contact)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.name}, #{entity.address}, #{entity.email}, #{entity.phone}, #{entity.createTime},
            #{entity.modifiedTime}, #{entity.sort}, #{entity.contact})
        </foreach>
        on duplicate key update
        name = values(name),
        address = values(address),
        email = values(email),
        phone = values(phone),
        create_time = values(create_time),
        modified_time = values(modified_time),
        sort = values(sort),
        contact = values(contact)
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update biz_supplier
        <set>
            <if test="name != null and name != ''">
                name = #{name},
            </if>
            <if test="address != null and address != ''">
                address = #{address},
            </if>
            <if test="email != null and email != ''">
                email = #{email},
            </if>
            <if test="phone != null and phone != ''">
                phone = #{phone},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
            <if test="modifiedTime != null">
                modified_time = #{modifiedTime},
            </if>
            <if test="sort != null">
                sort = #{sort},
            </if>
            <if test="contact != null and contact != ''">
                contact = #{contact},
            </if>
        </set>
        where id = #{id}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete
        from biz_supplier
        where id = #{id}
    </delete>
 <!--fan-->
</mapper>

