<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zs.xinguanmaterialmanager.mapper.TbDepartmentMapper">

    <resultMap type="com.zs.xinguanmaterialmanager.entity.TbDepartment" id="TbDepartmentMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="phone" column="phone" jdbcType="VARCHAR"/>
        <result property="address" column="address" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="modifiedTime" column="modified_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <!--查询单个-->
    <select id="queryById" resultMap="TbDepartmentMap">
        select id,
               name,
               phone,
               address,
               create_time,
               modified_time
        from tb_department
        where id = #{id}
    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        insert into tb_department(name, phone, address, create_time, modified_time)
        values (#{name}, #{phone}, #{address}, #{createTime}, #{modifiedTime})
    </insert>

    <insert id="insertBatch" keyProperty="id" useGeneratedKeys="true">
        insert into tb_department(name, phone, address, create_time, modified_time)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.name}, #{entity.phone}, #{entity.address}, #{entity.createTime}, #{entity.modifiedTime})
        </foreach>
    </insert>

    <insert id="insertOrUpdateBatch" keyProperty="id" useGeneratedKeys="true">
        insert into tb_department(name, phone, address, create_time, modified_time)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.name}, #{entity.phone}, #{entity.address}, #{entity.createTime}, #{entity.modifiedTime})
        </foreach>
        on duplicate key update
        name = values(name),
        phone = values(phone),
        address = values(address),
        create_time = values(create_time),
        modified_time = values(modified_time)
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update tb_department
        <set>
            <if test="name != null and name != ''">
                name = #{name},
            </if>
            <if test="phone != null and phone != ''">
                phone = #{phone},
            </if>
            <if test="address != null and address != ''">
                address = #{address},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
            <if test="modifiedTime != null">
                modified_time = #{modifiedTime},
            </if>
        </set>
        where id = #{id}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete
        from tb_department
        where id = #{id}
    </delete>

</mapper>

