<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zs.xinguanmaterialmanager.mapper.TbMenuMapper">

    <resultMap type="com.zs.xinguanmaterialmanager.entity.TbMenu" id="TbMenuMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="parentId" column="parent_id" jdbcType="INTEGER"/>
        <result property="menuName" column="menu_name" jdbcType="VARCHAR"/>
        <result property="url" column="url" jdbcType="VARCHAR"/>
        <result property="perms" column="perms" jdbcType="VARCHAR"/>
        <result property="icon" column="icon" jdbcType="VARCHAR"/>
        <result property="type" column="type" jdbcType="VARCHAR"/>
        <result property="orderNum" column="order_num" jdbcType="INTEGER"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="modifiedTime" column="modified_time" jdbcType="TIMESTAMP"/>
        <result property="available" column="available" jdbcType="INTEGER"/>
        <result property="open" column="open" jdbcType="INTEGER"/>
    </resultMap>

    <!--查询单个-->
    <select id="queryById" resultMap="TbMenuMap">
        select id,
               parent_id,
               menu_name,
               url,
               perms,
               icon,
               type,
               order_num,
               create_time,
               modified_time,
               available,
               open
        from tb_menu
        where id = #{id}
    </select>

    <!--查询所有权限-->
    <select id="queryAll" resultMap="TbMenuMap">
        select id,
               parent_id,
               menu_name,
               url,
               perms,
               icon,
               type,
               order_num,
               create_time,
               modified_time,
               available,
               open
        from tb_menu
    </select>

    <!--根据上级菜单ID查询权限列表-->
    <select id="queryByParentId" resultMap="TbMenuMap">
        select id,
               parent_id,
               menu_name,
               url,
               perms,
               icon,
               type,
               order_num,
               create_time,
               modified_time,
               available,
               open
        from tb_menu
        where parent_id = #{parentId}
    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        insert into tb_menu(parent_id, menu_name, url, perms, icon, type, order_num, create_time, modified_time,
                            available, open)
        values (#{parentId}, #{menuName}, #{url}, #{perms}, #{icon}, #{type}, #{orderNum}, #{createTime},
                #{modifiedTime}, #{available}, #{open})
    </insert>

    <insert id="insertBatch" keyProperty="id" useGeneratedKeys="true">
        insert into tb_menu(parent_id, menu_name, url, perms, icon, type, order_num, create_time, modified_time,
        available, open)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.parentId}, #{entity.menuName}, #{entity.url}, #{entity.perms}, #{entity.icon}, #{entity.type},
            #{entity.orderNum}, #{entity.createTime}, #{entity.modifiedTime}, #{entity.available}, #{entity.open})
        </foreach>
    </insert>

    <insert id="insertOrUpdateBatch" keyProperty="id" useGeneratedKeys="true">
        insert into tb_menu(parent_id, menu_name, url, perms, icon, type, order_num, create_time, modified_time,
        available, open)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.parentId}, #{entity.menuName}, #{entity.url}, #{entity.perms}, #{entity.icon}, #{entity.type},
            #{entity.orderNum}, #{entity.createTime}, #{entity.modifiedTime}, #{entity.available}, #{entity.open})
        </foreach>
        on duplicate key update
        parent_id = values(parent_id),
        menu_name = values(menu_name),
        url = values(url),
        perms = values(perms),
        icon = values(icon),
        type = values(type),
        order_num = values(order_num),
        create_time = values(create_time),
        modified_time = values(modified_time),
        available = values(available),
        open = values(open)
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update tb_menu
        <set>
            <if test="parentId != null">
                parent_id = #{parentId},
            </if>
            <if test="menuName != null and menuName != ''">
                menu_name = #{menuName},
            </if>
            <if test="url != null and url != ''">
                url = #{url},
            </if>
            <if test="perms != null and perms != ''">
                perms = #{perms},
            </if>
            <if test="icon != null and icon != ''">
                icon = #{icon},
            </if>
            <if test="type != null and type != ''">
                type = #{type},
            </if>
            <if test="orderNum != null">
                order_num = #{orderNum},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
            <if test="modifiedTime != null">
                modified_time = #{modifiedTime},
            </if>
            <if test="available != null">
                available = #{available},
            </if>
            <if test="open != null">
                open = #{open},
            </if>
        </set>
        where id = #{id}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete
        from tb_menu
        where id = #{id}
    </delete>

</mapper>

